.footer{
    width: 100%;
    height: 240px;
    background: rgb(50, 50, 51);
}

.autor{
    color: white;
}

.footer_grid{
    display: grid;
	margin-top: 20px;
	grid-template-rows: 50px 50px 100px;
	grid-template-columns: 2fr 1fr;
	column-gap: 100px;
	justify-content: center;
}


.aboutUs{
    color: white;
    grid-row: 1 / 1;
	grid-column: 1 / 1;
}

.aboutUs_descricao{
    color: white;
    font-size: 18px;
    display: flex;
    grid-row: 2 / 3;
    grid-column: 1 / 1;
    text-align: justify;
    margin-left: 30px;

}

.contactUs{
    color: white;
    justify-self: start;
    grid-row: 1 / 1;
	grid-column: 2 / 2;
}

.non_media1{
    display: flex;
    grid-row: 2 / 2;
	grid-column: 2 / 2;

}

.non_media2{
    display: flex;
    grid-row: 3 / 3;
	grid-column: 2 / 2;

}

.text_footer{
    color: white;
    margin-left: 10px;
    font-size: 15px;
}

.media{
    width: 10%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}