.pagina_home{
    width: 100%;
    background-color: #ffffff;
}

.menu_item_home{
    margin-left: 40px;
    font-size: 16px;
}

#menu_home ul {
    padding:0px;
    margin:0px;
	list-style:none;
}

#menu_home ul li { display: inline; }

#menu_home ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#menu_home ul li a:hover {
    border-bottom:2px solid #ffffff;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.title_header{
    color: white;
    position: absolute;
    font-size: 40px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.text_header{
    color: white;
    position: absolute;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button_header {
    position: absolute;
    top: 70%;
    left: 50%;
    height: 50px;
    transform: translate(-50%, -50%);
	box-shadow: 0px 10px 14px -7px #732727;
	background:linear-gradient(to bottom, #7256a8 5%, #bd269a 100%);
	background-color:#7256a8;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #dd00ff;
    border: none;
}
.button_header:hover {
	background:linear-gradient(to bottom, #bd269a 5%, #7256a8 100%);
	background-color:#bd269a;
}
.button_header:active {
	position:relative;
	top:1px;
}

.myHeaderPosition {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-content: space-around;
    width: 60%;
    right: 20px;
    top: 8px;
}

.site-card-wrapper {
    padding: 30px;
    margin-bottom: 40px;
}

.card_home{
	height: 300px;
}

.icon_home{
	width: 100px;
	height: 100px;
}

.subtitle_card{
    margin-top: 10px;
    margin-bottom: 0px;
}

.sessao_1{
    position: absolute;
    top: 75%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    
}

.session_1_background{
    position: relative;
    text-align: center;
}


.text_sessao_1{
    color: rgb(43, 43, 43);
    font-size: 15px;
}