.container_web {
    position: relative;
    text-align: center;
    color: white;
}

.title_header_web{
    color: white;
    position: absolute;
    font-size: 40px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_header_web{
    color: white;
    position: absolute;
    font-size: 20px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.checkboxes{
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.site_title_web{
    margin-right: 15px;
    font-size: 15px;
    color: black;
}

.table_web{
    width: 95%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.button_web{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 2px;
    background-color: #30369f;
    color: white;
    outline:none;
}

.button_web:hover{
    background-color: #ed0080
}

.site-card-wrapper_web {
    padding: 30px;
    margin-bottom: 40px;
}

.card_web{
    height: 380px;
}

.icon_web{
	width: 200px;
	height: 200px;
}

.subtitle_card_web{
    margin-top: 10px;
    margin-bottom: 0px;
}
.select_web{
    width: 100%;
    border: none;
    background-color: #bbbbbb;
    outline: none;
}

.selected_class{
    width: 100%;
    border: none;
    background-color: #020061;
    outline: none;
}

.select_unavailable_web{
    width: 100%;
    border: none;
    background-color: #bbbbbb;
    outline: none;

}

.title_web_table{
    display: flex;
    width: 100%;
}

.available_search_web{
    width: 10%;
    height: 30px;
    border: none;
    color: white;
    background-color: #020061;
}

.unavailable_search_web{
    width: 10%;
    height: 30px;
    border: none;
    color: white;
    background-color: #bbbbbb;

}